//colors variable
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 13%);
$gray: hsl(0, 0%, 43%);
$secondary-white: hsl(278, 100%, 98%);
$primary-color: hsl(241, 91%, 45%);
$secondary-color: hsl(263, 40%, 74%);
